# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

vendor/
.idea
.idea/
**/node_modules/
.env
.env.*
**/dist/
*.log
.DS_Store

atkai/node_modules/
atkai/.angular/
atkai/dist/
atkai/out-tsc/
atkai/coverage/
atkai/.angular/cache/
atkai/.angular/config.json
atkai/npm-debug.log*
atkai/yarn-error.log
atkai/testem.log
atkai/karma.conf.js
atkai/.vscode/
atkai/.idea/
atkai/package-lock.json
atkai/tsconfig.build.json
